
html{
	background-image: url(https://brancopapeldeparede.fbitsstatic.net/img/p/papel-de-parede-degrade-rosa-029-70912/239963.jpg?w=817&h=1108&v=no-change&qs=ignore);
	font-family: 'Kanit', sans-serif;
	font-weight: 300;
	font-size: 32px;
	
}
h1{
	
	text-transform: none;
	font-size: 40px;
	display: inline-block;
	margin-left:180px;
}
.logo{
	margin-left: 80px;
	margin-top:60px;
	width: 6%;
}

.informacao{
	color: black;
	font-size: 18px;
	margin-left: 80px;
	margin-top:80px;	 
}
main{
	display: flex;
	margin-left: 80px;
	margin-bottom: 50px;
}
.text-area{
	border: 1px solid white;
	border-color: white;
	color: #000000;
	margin-top: 30px;
	border-radius: 10px;
	
	background: url(https://brancopapeldeparede.fbitsstatic.net/img/p/papel-de-parede-degrade-rosa-029-70912/239963.jpg?w=817&h=1108&v=no-change&qs=ignore);
}
.mensagem{
	border: 1px solid white ;
	color: #000000;
	margin-top: 30px;
	border-radius: 10px;
	margin-left: 20px;
	margin-bottom: 20px;
	text-transform: lowercase;

	background: url(https://brancopapeldeparede.fbitsstatic.net/img/p/papel-de-parede-degrade-rosa-029-70912/239963.jpg?w=817&h=1108&v=no-change&qs=ignore);
}

.botoes{
	display: flex;
	margin-top: 18px;
}
.botaodesencrip{
	border: 1px solid white ;
	border-radius: 10px;
	color: black;
	cursor: pointer;
	height: 40px;
	margin-left: 20px;
	font-size: 20px;
	font-weight: bold;
	width: 250px;

	background:pink;
	
}
.botaoencrip {
	border: 1px solid white;
	border-radius: 10px;
	color: black;
	cursor: pointer;
	height: 40px;
	font-weight: bold;
	font-size: 20px;
	width: 250px;
	background:pink;
}
.botaocopiar {
	border: 1px solid white;
	font-size: 20px;
	border-radius: 10px;
	color: black;
	cursor: pointer;
	height: 40px;
	margin-left: 30px;
	font-weight: bold;
	width: 250px;
	background:pink;
}


footer{
	text-align: center;
	font-size: 15px;
	color: black;
}
